.mapview-label {
    padding: 2px 10px;
}

.blue-label {
    color: #cccccc;
    background: #95b9e6 linear-gradient(#95b9e6, #0000ff);
}

.green-label {
    color: #cccccc;
    background: #7ce68c linear-gradient(#7ce68c, #076d13);
}


.ol-control button {
    background-color: rgba(255,152,0, 0.8) !important;
}
.ol-control button:hover {
    background-color: rgba(255,160,0, 1) !important;
}


.tooltip {
    position: relative;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    color: white;
    padding: 4px 8px;
    opacity: 0.7;
    white-space: nowrap;
    font-family: 'yekan', tahoma, arial;
}
.tooltip-measure {
    opacity: 1;
    font-weight: bold;
}
.tooltip-static {
    background-color: #ffcc33;
    color: black;
    border: 1px solid white;
}
.tooltip-measure:before,
.tooltip-static:before {
    border-top: 6px solid rgba(0, 0, 0, 0.5);
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
    content: "";
    position: absolute;
    bottom: -6px;
    margin-left: -7px;
    left: 50%;
}
.tooltip-static:before {
    border-top-color: #ffcc33;
}

.ol-control.ol-layerswitcher-image{

}